In [2]:
import pandas as pd

dataset_path = "Datasets/Networks/1.tsv"

df = pd.read_csv(dataset_path, sep="\t")

df.head()

# find number of colums

,Unnamed: 0,captured_length,eth_dst,eth_src,highest_layer,info_line,interface_captured,ip_dst,ip_src,length,number,project_id,sniff_timestamp,tcp_dstport,tcp_srcport,tcp_stream
0,0,66,00:26:b9:2b:0b:59,00:0c:29:54:bf:79,TCP,8888→34374 [ACK] Seq=1 Ack=1 Win=65535 Len=0 T...,NaN,192.168.1.1,192.168.1.122,66,1,1,2013-06-02 10:19:14,34374.0,8888.0,0.0
1,1,74,00:26:b9:2b:0b:59,00:0c:29:54:bf:79,ICMP,"Echo (ping) request id=0x0200, seq=256/1, ttl...",NaN,1.2.3.4,192.168.1.122,74,2,1,2013-06-02 10:19:15,NaN,NaN,NaN
2,2,75,00:26:b9:2b:0b:59,00:0c:29:54:bf:79,ICMP,"Echo (ping) request id=0x0200, seq=512/2, ttl...",NaN,82.108.24.168,192.168.1.122,75,3,1,2013-06-02 10:19:19,NaN,NaN,NaN
3,3,75,00:26:b9:2b:0b:59,00:0c:29:54:bf:79,ICMP,"Echo (ping) request id=0x0200, seq=768/3, ttl...",NaN,82.108.25.192,192.168.1.122,75,4,1,2013-06-02 10:19:19,NaN,NaN,NaN
4,4,75,00:26:b9:2b:0b:59,00:0c:29:54:bf:79,ICMP,"Echo (ping) request id=0x0200, seq=1024/4, tt...",NaN,82.108.6.189,192.168.1.122,75,5,1,2013-06-02 10:19:19,NaN,NaN,NaN

In [3]:
import pandas as pd

dataset_path = "Datasets/Networks/1.tsv"

df = pd.read_csv(dataset_path, sep="\t")

# Do groupby and agg operations
grouped = df.groupby("ip_dst").agg({"info_line": len})
grouped.head()

               info_line
ip_dst
1.2.3.4                1
192.168.1.1            1
192.168.1.122        812
82.108.0.109           2
82.108.0.11            1

In [6]:
import pandas as pd

dataset_path = "Datasets/Networks/1.tsv"

df = pd.read_csv(dataset_path, sep="\t")

# Do filter operations
df = df[df['highest_layer'] == 'ARP']

print(df.head())

# Do groupby and agg operations
grouped = df.groupby("ip_dst").agg({"info_line": len})
grouped.head()

      Unnamed: 0  captured_length            eth_dst            eth_src
2885        2885               42  00:0c:29:54:bf:79  00:26:b9:2b:0b:59  \
2886        2886               60  00:26:b9:2b:0b:59  00:0c:29:54:bf:79
6117        6117               42  00:0c:29:54:bf:79  00:26:b9:2b:0b:59
6118        6118               60  00:26:b9:2b:0b:59  00:0c:29:54:bf:79

     highest_layer                                 info_line
2885           ARP  Who has 192.168.1.122?  Tell 192.168.1.1  \
2886           ARP     192.168.1.122 is at 00:0c:29:54:bf:79
6117           ARP  Who has 192.168.1.122?  Tell 192.168.1.1
6118           ARP     192.168.1.122 is at 00:0c:29:54:bf:79

      interface_captured ip_dst ip_src  length  number  project_id
2885                 NaN    NaN    NaN      42    2886           1  \
2886                 NaN    NaN    NaN      60    2887           1
6117                 NaN    NaN    NaN      42    6118           1
6118                 NaN    NaN    NaN      60    6119           1

          sniff_timestamp  tcp_dstport  tcp_srcport  tcp_stream
2885  2013-06-02 10:19:57          NaN          NaN         NaN
2886  2013-06-02 10:19:57          NaN          NaN         NaN
6117  2013-06-02 10:20:39          NaN          NaN         NaN
6118  2013-06-02 10:20:39          NaN          NaN         NaN

Empty DataFrame
Columns: [info_line]
Index: []